@import 'nav.css';
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@1,300&display=swap');

:root {
    --text-color-var: #873E91;
    --product-color-text: #5f046b;
}
.hero-section {
    width: 100%;
    height: calc(65vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hero-section .content {
    width: 45rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--text-color-var); 
}
.hero-section .background {    
    height: 200px;      
    width: 400px;
}

.hero-section .logo {
    height: 200px;    
    margin: auto;
}

.hero-section .sub-heading {
    margin-top: 10px;
    text-align: center;
    color: var(--text-color-var);    
    font-size: 50px;
    font-weight: 300;
    font-family: 'Great Vibes', cursive;    
}

/* Productos */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    border-top: 2px solid var(--btn-color);
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
    color: var(--product-color-text);
}